<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
       <%=link_to "All" ,blogs_path,class: "p-2 link-secondary"%>
      <% Category.all.each do |category| %>
        <%= link_to category.name, blogs_path(category_id: category.id), class: "p-2 link-secondary" %>
      <% end %>
      
    </nav>
  </div>
  
<div class="container mt-4">
  <% @blogs.each do |blog| %>
    <article class="blog-post mb-4">
      <h2 class="blog-post-title"><%=  blog.title %></h2>
      <p class="blog-post-meta"><%= time_ago_in_words(blog.created_at) %> ago by <%= blog.user.email%></p>

      <p><%= blog.body.html_safe %></p>
      
      <p><%= link_to "#{blog.comments.count} Comments", blog_path(blog.id), class: "btn btn-secondary" %></p>
      <hr>
    </article>
  <% end %>

  <div class="d-flex justify-content-center">
    <%= paginate @blogs %>
  </div>
</div>

