<div class="container mt-4">
  <h1 class="mb-3"><%= @blog.title %></h1>
  <div class="mb-4"><%= @blog.body.html_safe %></div>
  <%ids=@blog.id%>
  <%name=@blog.class.name%>
  
  <h2 class="mb-3">Comments</h2>
  <div class="mb-4">
    <% @comments.each do |comment| %>
      <div class="card mb-2">
        <div class="card-body">
          <p><%=comment.user.email%></p>
          <p class="card-text"><%= comment.content %></p>
          <%if (user_signed_in? && comment.user==current_user) || user_signed_in? && @blog.user==current_user || user_signed_in? && current_user.has_role?(:admin)%>
          <%=button_to "delete",comment_path(comment.id) ,method: :delete,data: { turbo_confirm: "Are you sure?" } %>
          <%end%>
          
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
  <%#byebug%>
    <h2 class="mb-3">Add a Comment</h2>
    <%= form_with(model: [@blog, Comment.new], local: true, class: "needs-validation") do |form| %>
      <div class="mb-3">
        <%= form.label :content, class: "form-label" %>
        <%= form.text_area :content, class: "form-control", rows: 5, required: true %>
      </div>
    
  
      <!-- Hidden fields for polymorphic association -->
      <%= form.hidden_field :commentable_type, value: name %>
      <%= form.hidden_field :commentable_id, value: ids %>

      <div class="mb-3">
        
        <%= form.submit "Create Comment", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>

  <% if user_signed_in? && (@blog.user == current_user || current_user.has_role?(:admin)) %>
    <div class="mb-3">
      <%= link_to "Edit Blog", edit_blog_path(@blog), class: "btn btn-warning me-2" if @blog.user == current_user %>
      <%= button_to "Delete", blog_path(@blog), method: :delete, class: "btn btn-danger mt-3", data: { turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>

  <%= link_to "Back", blogs_path, class: "btn btn-secondary" %>
</div>