<div class="container mt-4">
  <h1 class="mb-4">Tweets</h1>
  <div class="mb-3">
    <%= link_to "Create New Tweet", new_tweet_path, class: "btn btn-primary" %>
  </div>
  <div class="row">
    <% @tweets.each do |tweet| %>
      <div class="col-md-6 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="row g-0">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary"><%=tweet.category.name%></strong>
              
               <h3 class="mb-0"><%= tweet.content %></h3>
              <div class="mb-1 text-muted"><%= time_ago_in_words(tweet.created_at) %> ago</div>
             
               <p class="card-text mb-auto"><%=tweet.user.email %></p>
              <%= link_to "#{tweet.comments.count} comments", tweet_path(tweet), class: "stretched-link" %>
            </div>
           
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>