 <% if user_signed_in? %>
    <h2 class="mb-3">Add a Comment</h2>
    <%= form_with(model: [@tweet, Comment.new], local: true, class: "needs-validation") do |form| %>
      <div class="mb-3">
        <%= form.label :content, class: "form-label" %>
        <%= form.text_area :content, class: "form-control", rows: 5, required: true %>
      </div>

      <!-- Hidden fields for polymorphic association -->
      <%= form.hidden_field :commentable_type, value: @tweet.class.name %>
      <%= form.hidden_field :commentable_id, value: @tweet.id %>

      <div class="mb-3">
        <%= form.submit "Create Comment", class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>


<div class="container mt-4">
  <div class="card mb-4">
    <div class="card-body">
      <h1 class="card-title h4"><%= @tweet.content %></h1>
      <h3 class="card-subtitle mb-2 text-muted"><%= @tweet.created_at.strftime("%B %d, %Y %H:%M") %></h3>
    </div>
  </div>

  <h2 class="mb-3">Comments</h2>
  <div class="mb-4">
    <% @comments.each do |comment| %>
      <div class="card mb-2">
        <div class="card-body">
          <p class="card-text"><%= comment.content %></p>
          <%if (user_signed_in? && comment.user==current_user) || user_signed_in? && @tweet.user==current_user||user_signed_in? && current_user.has_role?(:admin) %>
          <%=button_to "delete",comment_path(comment.id) ,method: :delete,data: { turbo_confirm: "Are you sure?" } %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
  
  <% if user_signed_in? && @tweet.user==current_user %>
    <div class="mb-3">
      <%= link_to "Edit", edit_tweet_path(@tweet), class: "btn btn-warning me-2 mb-3" %>
      <%= button_to "Delete", tweet_path(@tweet), method: :delete, class: "btn btn-danger", data: { turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>

  <%= link_to "Back", tweets_path, class: "btn btn-secondary" %>
</div>